/* Reset everything */
*,
*::before,
*::after,
*::placeholder {
  margin: 0;
  padding: 0;
  outline: 0;
  opacity: 1;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  list-style: none;
  line-height: 150%;
  text-decoration: none;
  text-align: inherit;
  text-shadow: inherit;
  border-collapse: collapse;
}

*::-moz-focus-outer,
*::-moz-focus-inner {
  border: 0;
}

/* Design system */
html {
  /* Margins are 12px, text lines are 24px, buttons/inputs are 36px */
  --size-line: 2px;
  --size-1: 6px;
  --size-2: 12px;
  --size-3: 18px;
  --size-4: 24px;
  --size-5: 30px;
  --size-6: 36px;
  --size-7: 42px;
  --size-8: 48px;
  --size-9: 54px;
  --size-10: 60px;

  --font-small: 14px;
  --font-normal: 16px;
  --font-large: 20px;
  --font-huge: 24px;
  --font-gargantuan: 32px;
  --font-colossal: 48px;

  /* Munsell */
  --grey-90: rgb(227, 227, 227);
  --grey-85: rgb(213, 213, 213);
  --grey-80: rgb(200, 200, 200);
  --grey-75: rgb(187, 187, 187);
  --grey-70: rgb(173, 173, 173);
  --grey-60: rgb(147, 147, 147);
  --grey-50: rgb(121, 121, 121);
  --grey-40: rgb(96, 96, 96);
  --grey-30: rgb(72, 72, 72);
  --grey-35: rgb(84, 84, 84);
  --grey-25: rgb(60, 60, 60);
  --grey-20: rgb(49, 49, 49);
  --grey-15: rgb(39, 39, 39);
  --grey-10: rgb(28, 28, 28);

  /* Munsell */
  --red-70: rgb(238, 149, 144); /* 5.0R 7.0/8.0 */
  --red-60: rgb(209, 123, 119); /* 5.0R 6.0/8.0 */
  --red-55: rgb(203, 105, 103); /* 5.0R 5.5/9.0 */
  --red-50: rgb(196, 87, 86); /* 5.0R 5.0/10.0 */
  --red-45: rgb(175, 78, 78); /* 5.0R 4.5/9.0 */
  --red-40: rgb(155, 69, 69); /* 5.0R 4.0/8.0 */
  --red-30: rgb(116, 51, 53); /* 5.0R 3.0/6.0 */
  --red-20: rgb(77, 37, 42); /* 5.0R 2.0/4.0 */
  --yellow-70: rgb(209, 168, 72); /* 2.5Y 7.0/8.0 */
  --yellow-60: rgb(182, 142, 45); /* 2.5Y 6.0/8.0 */
  --yellow-55: rgb(170, 128, 3); /* 2.5Y 5.5/9.0 */
  --yellow-50: rgb(157, 115, -37); /* 2.5Y 5.0/10.0 */
  --yellow-45: rgb(141, 103, -21); /* 2.5Y 4.5/9.0 */
  --yellow-40: rgb(125, 90, -14); /* 2.5Y 4.0/8.0 */
  --yellow-30: rgb(94, 67, 1); /* 2.5Y 3.0/6.0 */
  --yellow-20: rgb(64, 46, 7); /* 2.5Y 2.0/4.0 */
  --green-70: rgb(120, 190, 112); /* 10.0GY 7.0/8.0 */
  --green-60: rgb(92, 164, 88); /* 10.0GY 6.0/8.0 */
  --green-55: rgb(68, 152, 68); /* 10.0GY 5.5/9.0 */
  --green-50: rgb(41, 140, 48); /* 10.0GY 5.0/10.0 */
  --green-45: rgb(30, 125, 44); /* 10.0GY 4.5/9.0 */
  --green-40: rgb(34, 111, 41); /* 10.0GY 4.0/8.0 */
  --green-30: rgb(32, 82, 38); /* 10.0GY 3.0/6.0 */
  --green-20: rgb(27, 55, 32); /* 10.0GY 2.0/4.0 */
  --blue-70: rgb(135, 176, 229); /* 5.0PB 7.0/8.0 */
  --blue-60: rgb(111, 149, 202); /* 5.0PB 6.0/8.0 */
  --blue-55: rgb(89, 136, 196); /* 5.0PB 5.5/9.0 */
  --blue-50: rgb(67, 124, 189); /* 5.0PB 5.0/10.0 */
  --blue-45: rgb(60, 110, 170); /* 5.0PB 4.5/9.0 */
  --blue-40: rgb(55, 97, 150); /* 5.0PB 4.0/8.0 */
  --blue-30: rgb(42, 72, 114); /* 5.0PB 3.0/6.0 */
  --blue-20: rgb(33, 49, 75); /* 5.0PB 2.0/4.0 */

  /* Theme */
  --input-background: var(--grey-30);
  --input-background-focus: var(--grey-35);
  --input-background-active: var(--grey-40);
  --input-error: var(--red-70);
  --header-background: var(--grey-10);
  --page-background: var(--grey-15);
  --page-foreground: var(--grey-20);
  --page-text: var(--grey-90);
  --scroll-background: var(--grey-20);
  --scroll-foreground: var(--grey-50);
  --spinner-color: var(--grey-50);
}

/* Basics */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--font-normal);
  font-weight: 400;

  color: var(--page-text);
  text-shadow: 0 0 2px var(--page-background);

  background: var(--page-background);
}

/* Scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-foreground) var(--scroll-background);
}

*::-webkit-scrollbar {
  width: var(--size-1);
  height: var(--size-1);
}

*::-webkit-scrollbar-track {
  background-color: var(--scroll-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-foreground);
}
