.nyx-button {
  display: inline-block;
  padding: var(--size-1) var(--size-3);
  background: var(--input-background);
  border-radius: var(--size-1);
  cursor: pointer;
  font-weight: 500;
  text-align: center;

  &:hover,
  &:focus-visible {
    background: var(--input-background-focus);
  }

  &:active {
    background: var(--input-background-active);
  }

  &--square {
    padding: 0;
    width: var(--input-size);
    height: var(--input-size);
    font-size: calc(var(--input-size) / 1.5);
    --input-size: var(--size-6);
  }

  &--small {
    --input-size: var(--size-4);
  }

  &--large {
    --input-size: var(--size-8);
  }

  &--transparent {
    --input-background: transparent;
    --input-background-focus: hsla(0, 0%, 100%, 0.17);
    --input-background-active: hsla(0, 0%, 100%, 0.23);
  }

  &--white {
    --input-background: var(--grey-80);
    --input-background-focus: var(--grey-85);
    --input-background-active: var(--grey-90);
    text-shadow: 0 0 2px var(--grey-90);
    color: var(--grey-10);
  }

  &--red {
    --input-background: var(--red-45);
    --input-background-focus: var(--red-50);
    --input-background-active: var(--red-55);
  }

  &--yellow {
    --input-background: var(--yellow-45);
    --input-background-focus: var(--yellow-50);
    --input-background-active: var(--yellow-55);
  }

  &--green {
    --input-background: var(--green-45);
    --input-background-focus: var(--green-50);
    --input-background-active: var(--green-55);
  }

  &--blue {
    --input-background: var(--blue-45);
    --input-background-focus: var(--blue-50);
    --input-background-active: var(--blue-55);
  }
}
