.nyx-center-layout {
  padding-top: var(--size-10);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main";

  > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--size-10);
  }

  > main {
    grid-area: main;
    margin: var(--size-4);
    padding: var(--size-4);
    background: var(--page-foreground);
    border-radius: var(--size-1);

    width: 100%;
    max-width: 480px;
    justify-self: center;

    @media (max-width: 480px) {
      margin: 0;
      border-radius: 0;
    }
  }
}
