.nyx-checkbox {
  display: inline-block;
  vertical-align: bottom;
  appearance: none;
  width: var(--size-4);
  height: var(--size-4);
  border-radius: var(--size-1);
  background: var(--input-background);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: var(--input-background-focus);
  }

  &:active {
    background: var(--input-background-active);
  }

  &:checked::after {
    content: "";
    position: relative;
    display: block;
    top: 4px;
    left: 1px;
    border-right: 3px solid var(--page-text);
    border-bottom: 3px solid var(--page-text);
    width: 9px;
    height: 15px;
    transform: rotate(45deg);
    transform-origin: bottom right;
    pointer-events: none;
  }

  & + label {
    padding-left: var(--size-1);
  }
}
