.nyx-dialog {
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow: auto;
  background: rgba(39, 39, 39, 0.8); // var(--page-background)

  > * {
    box-shadow: 0 0 2px 2px var(--page-background);
    margin: var(--size-5) auto;
    padding: var(--size-4);
    background: var(--page-foreground);
    border-radius: var(--size-1);
    width: 480px;

    @media (max-width: 480px) {
      margin: var(--size-5) 0;
      border-radius: 0;
      width: 100%;
    }
  }
}
