.nyx-header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-areas: "home menu . actions";
  align-items: center;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-4);
  background: var(--header-background);
  position: relative;
  z-index: 10;

  &--home {
    grid-area: home;
  }

  &--menu {
    grid-area: menu;
  }

  &--actions {
    grid-area: actions;
  }

  &--apps {
    background: var(--header-background);
    border-radius: var(--size-1);
    padding: var(--size-2);
    top: calc(var(--size-2) + 100%);
    left: var(--size-2);
    position: absolute;

    > *:not(:first-child) {
      margin-top: var(--size-2);
    }

    @media (max-width: 480px) {
      width: calc(100% - var(--size-4));
    }
  }

  &--home,
  &--app {
    display: block;
    font-size: var(--font-huge);
    font-weight: 500;
    cursor: pointer;

    img {
      width: var(--size-6);
      height: var(--size-6);
      vertical-align: bottom;
      margin-right: var(--size-2);
      border-radius: var(--size-1);
      background: var(--grey-30);
    }

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-decoration-thickness: var(--size-line);
    }
  }
}
