.nyx-link {
  color: var(--blue-70);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: var(--size-line);
  }

  &:active {
    color: var(--blue-60);
  }
}
