.nyx-message {
  position: relative;
  padding-left: 1.5em;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    background: currentColor;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  &--error {
    color: var(--red-70);
  }

  &--warn {
    color: var(--yellow-70);
  }

  &--info {
    color: var(--blue-70);
  }

  &--success {
    color: var(--green-70);
  }
}
