.nyx-nav-layout {
  width: 100vw;
  min-height: 100vh;
  padding-top: var(--size-10);

  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav main";

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav" "main";
  }

  > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--size-10);
  }

  > nav {
    padding: var(--size-4);
    background: var(--page-background);

    @media (min-width: 481px) {
      position: fixed;
      top: var(--size-10);
      left: 0;
      bottom: 0;
      width: 240px;
      overflow: auto;
    }

    @media (max-width: 480px) {
      grid-area: nav;
    }
  }

  > main {
    grid-area: main;
    padding: var(--size-4);
    background: var(--page-foreground);
    overflow: auto;
  }
}
