.nyx-nav-link {
  display: block;
  padding: var(--size-1) var(--size-3);
  border-radius: var(--size-1);
  cursor: pointer;
  font-weight: 500;

  &:hover,
  &:focus-visible {
    background: var(--grey-30);
  }

  &:active {
    background: var(--grey-35);
  }

  &--active {
    background: var(--grey-25);
  }
}
