.nyx-progress {
  display: block;
  width: 100%;
  background: var(--input-background);
  border-radius: var(--size-1);
  height: var(--size-4);
  overflow: hidden;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: var(--bar-color);
  }

  &::-moz-progress-bar {
    background: var(--bar-color);
  }

  & {
    --bar-color: var(--grey-50);
  }

  &--white {
    --bar-color: var(--grey-80);
  }

  &--red {
    --bar-color: var(--red-45);
  }

  &--yellow {
    --bar-color: var(--yellow-45);
  }

  &--green {
    --bar-color: var(--green-45);
  }

  &--blue {
    --bar-color: var(--blue-45);
  }
}
