.nyx-radio {
  display: inline-block;
  vertical-align: bottom;
  appearance: none;
  width: var(--size-4);
  height: var(--size-4);
  border-radius: 50%;
  background: var(--input-background);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: var(--input-background-focus);
  }

  &:active {
    background: var(--input-background-active);
  }

  &:checked::after {
    content: "";
    position: relative;
    display: block;
    top: var(--size-1);
    left: var(--size-1);
    width: var(--size-2);
    height: var(--size-2);
    border-radius: 50%;
    border: 6px solid var(--page-text);
    pointer-events: none;
  }

  & + label {
    padding-left: var(--size-1);
  }
}
