.nyx-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--size-2);

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--spacing-small {
    gap: var(--size-1);
  }

  &--spacing-large {
    gap: var(--size-4);
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
