.nyx-spinner {
  width: var(--size-4);
  height: var(--size-4);
  border: 3px solid var(--spinner-color);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: nyx-spinner 1s linear infinite;

  &--large {
    width: var(--size-6);
    height: var(--size-6);
  }
}

@keyframes nyx-spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
