.nyx-table {
  th {
    font-weight: 500;
    border-bottom: var(--size-line) solid var(--grey-70);
    padding: var(--size-1) var(--size-1);
  }

  td {
    border-bottom: var(--size-line) solid var(--grey-50);
    padding: var(--size-1) var(--size-1);
  }

  th:first-child,
  td:first-child {
    padding-left: var(--size-2);
  }

  th:last-child,
  td:last-child {
    padding-right: var(--size-2);
  }
}
