.nyx-textbox {
  display: block;
  width: 100%;
  padding: var(--size-1) var(--size-2);
  border-radius: var(--size-1);
  background: var(--input-background);
  font-weight: 500;

  &:hover,
  &:focus-visible {
    background: var(--input-background-focus);
  }

  &--error {
    box-shadow: inset 0 calc(0px - var(--size-4) - var(--size-line)) 0
      calc(0px - var(--size-4)) var(--input-error);
  }
}
